@charset "UTF-8";
html {
	font-size: 16px;
}

h1,h2 {
	font-family: Helvetica, 'Times New Roman', sans-serif;
}

h1 {
	text-align: left;
	padding-left: 320px;
}

h3 {
	text-align: center;
}

h6 {
	text-align: center;
}

figcaption {
	text-align: center;
}

p {
	font-family: Helvetica, 'Times New Roman', sans-serif;
	line-height: 1.5em;
	font-weight: 400;
}

body {

	background-color: #f2f2f2;
	font-family: Helvetica, 'Times New Roman', sans-serif;
	padding: 100px;
}	

.wrap {
	width: 60%;
	margin: auto;
}	

.container {
	width: 100%;
	margin: auto;
}

nav {
	float:right;
	padding-bottom: 10px;
	padding-right:250px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 30px;
	padding-top: 25px;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #041dd8;
}

.pictures {
	float: left;
	background-color: white; 
	width: 100%;
	padding-bottom: 20px;
	border: 2px solid black;
}	

header, footer {
	text-align: center;
	width: 100%;
	margin: auto;
}	

header {
		border-bottom: 2px solid black;
}

Figure {
	margin-bottom: 10px;
	float:left;
}	

img {
	padding-top: 20px;
	width 250px;
	height:250px;

}	

footer {
	clear: both;
	padding-top: 50px;
	border-bottom: 2px solid black;
}

.banner {
	background: url(images/Istanbul.jpg) no-repeat;
	width: 2100px;
	height: 300px;
	padding-bottom: 20px;
}

main {
	padding-bottom: 20px;
}

.banner h4 {
	color: black;
	font-size: 14px;
	padding: 10px;
}
